<ion-view title="ReversePolish" ng-controller="test3App.CalculatorCtrl">
    <header>Basic</header>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <h2>This is page basic!</h2>


        <div class="row">
            <div class="col-25">
                <ul class="list">
                    <li ng-repeat="value in values" class="item">
                        <div><span>{{value.value}}</span><span>{{value.operation}}</span></div>
                    </li>
                </ul>
            </div>

            <div class="col-75">
                <div class="row card">
                    <div class="col-100 calc-input item">
                        <input type="text" id="valA" ng-model="valA" type="number">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25 calc-operation">
                        <button class="button button-block" ng-click="clear()">AC</button>
                    </div>
                    <div class="col-25 calc-operation">
                        <button class="button button-block" ng-click="negate()">+/-</button>
                    </div>
                    <div class="col-25 calc-operation">
                        <button class="button button-block" ng-click="percentage()">%</button>
                    </div>
                    <div class="col-25 calc-operation">
                        <button class="button button-block" ng-click="div()">/</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25 calc-number">
                        <button class="button button-block" ng-click="keyPressed('7')">7</button>
                    </div>
                    <div class="col-25 calc-number">
                        <button class="button button-block" ng-click="keyPressed('8')">8</button>
                    </div>
                    <div class="col-25 calc-number">
                        <button class="button button-block" ng-click="keyPressed('9')">9</button>
                    </div>
                    <div class="col-25 calc-operation">
                        <button class="button button-block" ng-click="times()">*</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25 calc-number">
                        <button class="button button-block" ng-click="keyPressed('4')">4</button>
                    </div>
                    <div class="col-25 calc-number">
                        <button class="button button-block" ng-click="keyPressed('5')">5</button>
                    </div>
                    <div class="col-25 calc-number">
                        <button class="button button-block" ng-click="keyPressed('6')">6</button>
                    </div>
                    <div class="col-25 calc-operation">
                        <button class="button button-block" ng-click="sub()">-</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25 calc-number">
                        <button class="button  button-block" ng-click="keyPressed('1')">1</button>
                    </div>
                    <div class="col-25 calc-number">
                        <button class="button button-block" ng-click="keyPressed('2')">2</button>
                    </div>
                    <div class="col-25 calc-number">
                        <button class="button button-block" ng-click="keyPressed('3')">3</button>
                    </div>
                    <div class="col-25 calc-operation">
                        <button class="button button-block" ng-click="add()">+</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-50 calc-number">
                        <button class="button button-block" ng-click="keyPressed('0')">0</button>
                    </div>
                    <div class="col-25 calc-number">
                        <button class="button button-block" ng-click="keyPressed('.')">,</button>
                    </div>
                    <div class="col-25 calc-operation">
                        <button class="button button-block">=</button>
                    </div>
                </div>

            </div>


        </div>

    </ion-content>
</ion-view>
